html, body {
  height: 100%;
  margin: 0; }

header {
  background-color: rgba(255, 87, 87, 0.8);
  padding: 0.5rem; }
  header ul {
    list-style: none;
    padding-left: 0; }
    header ul li {
      display: inline-block;
      padding-right: 1rem; }

a {
  text-decoration: none; }

section {
  padding: 1rem; }

footer {
  background-color: rgba(255, 87, 87, 0.8);
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  footer p {
    text-align: center; }
